:root{
    --wk1-background:   #463f047e;
    --wk1-text:          #020c08f1;
    --wk1-highlight:     #273b74e0;
    --wk1-text-light:     #e3eef8;
    --wk1-cloud:          #a69aa1;
}

body{
    background-color: var(--wk1-background);
    color:             var(--wk1-text);
}

.head{
    background-color: var(--wk1-highlight);
    font-size:medium;
}


.top-screen{
    background-image: url("access/img/top-screen.png");
}

.mid-section{
    background-color: var(--wk1-highlight);
    color:     var(--wk1-text-light);
}

.section-two{
    background-color: whitesmoke;
}

.section-stars{
    background-color: var(--wk1-cloud);
}

.green-bar{
    background-color: var(--wk1-highlight);
    color: whitesmoke;
}

.white-bar{
    background-color:  whitesmoke;
    color:            var(--wk1-highlight);
}

.cta-box {
    position: absolute;
    top: -400;
}

@media screen and (max-width: 992px) {
    .cta-box {
        position: relative;
    }
}


.card-text{
    color: var(--wk1-highlight);
}

.center{
  justify-content: center;
}

.space-around{
    justify-content: space-around; 
}

.space-between{
    justify-content: space-between;
}